body {
  font-family: "Lato";
}

header {
  display: flex;
  background-color: #2B2B2B;
  justify-content: flex-end;
}

nav {
  display: flex;
  background-color: #2B2B2B;
  flex-flow: row-reverse;
}

.btn {
  background-color: #2B2B2B;
  color: #33B6FB;
}

.turn {
  transform: rotate(90deg);
  position: relative;
    top: 6px;
}

.login {
  color: white;
  margin-top: 15px;
}

.logo {
  flex-grow: 8;
  margin-left: 58%;
  color: white;
  font-size: 30px;
  font-family: "Bitter";
  font-weight: bold;
}

.nav-links {
  margin-left: 2%;
}

.nav-icons {
  margin-left: 12px;
  position: relative;
    top: 6px;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.card {
  width: 25%;
  margin-bottom: 12px;
}

.top-box {

}
